Tkinter - библиотека Python для создания графических интерфейсов, 
в проекте используется для построения окон, кнопок, полей ввода, 
таблиц и других элементов интерфейса приложения
Matplotli - библиотека для построения графиков и визуализации данных, 
в проекте используется для отображения графика изменения баланса 
и диаграммы расходов
Datetime - модуль для работы с датой и временем, 
в проекте используется для записи даты транзакций и целей
Sqlite3 - база данных, в проекте позволяет хранить транзакции, 
сохранять цели накоплений, обновлять и удалять записи, 
работать с финансовыми данными
Unittest - фреймворк Python для тестирования, 
в проекте нужен, чтобы проверить корректность работы методов,
операций с базами данных, логикой проекта и интерфейса